.cabecalho {
    background: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 16px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin: 8px 5px;
    
}

.cabecalho:hover {
    color: #95FFD4;
}